
{% extends 'base.html' %}

{% load static %}

{% block principal %}
<br>
<br>
 <div class="container">
  <div class="card mb-3">
    <img src="{% static 'images/slider.png' %}" class="card-img-top" alt="..." height="150px">
    <div class="card-body">
      <center><h5 class="card-title">Card title</h5></center>
    <center><p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p></center>
  <center><p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></center>
   
</div>
  </div>
 </div>

{% endblock %}