body{
    background-color: rgb(88, 59, 83);
    
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
.mt-auto.py-3{
    background-color: #343a40;
    text-align: center; 
    
}
footer h1{
color: white;
}
footer p{
    color: white;
}
